@font-face { font-family: icomoon; src: url("/fonts/icomoon.eot?z5jul0#iefix") format("embedded-opentype"), url("/fonts/icomoon.ttf?z5jul0") format("truetype"), url("/fonts/icomoon.woff?z5jul0") format("woff"), url("/fonts/icomoon.svg?z5jul0#icomoon") format("svg"); font-weight: normal; font-style: normal; font-display: block; }
[class^="icon-"], [class*=" icon-"] { font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; font-family: icomoon !important; }
body { height: 100%; font-size: 16px; color: rgb(114, 114, 114); font-family: Roboto; font-weight: normal; background: rgb(255, 255, 255); padding: 0px; margin: 0px; }
*, ::after, ::before { box-sizing: border-box; }
a { text-decoration: none; }
ol, li ,ul{ list-style: none; padding: 0; margin: 0px;}
span { margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; }
.wrapper { width: 100%; overflow: hidden; margin: 0px auto; }
._container {max-width: 1024px;margin: 0px auto;padding: 0px 15px;box-sizing: content-box;display: flex;/* align-items: center; */justify-content: center;}
.header { width: 100%; top: 0px; left: 0px; position: absolute; }
.header__container { display: flex; align-items: center; padding: 10px 0px; }
.header__logo { font-style: normal; font-weight: normal; color: rgb(52, 84, 122); list-style: none; }
.menu { flex-grow: 1; display: flex; align-items: center; justify-content: flex-end; }
.menu__list { align-items: center; text-transform: uppercase; display: flex; list-style: none; top: 70%; right: 0px; left: 0px; margin: 0px; opacity: 1; flex-direction: row; position: static; }
.menu__link { color: rgb(0, 0, 0); line-height: calc(162.5%); }
.menu__link:hover { color: rgb(52, 84, 122); }
.menu__item { position: relative; }
.counter { position: absolute; right: 0px; top: 0px; transform: translate(30%, -30%); display: inline-flex; flex-direction: row; align-items: center; justify-content: center; min-width: 20px; height: 20px; padding-left: 4px; padding-right: 4px; border-radius: 50px; font-size: 12px; color: rgb(255, 255, 255); background-color: rgb(14, 73, 181); }
.banner { width: 1024px; height: 512px; background-size: 1024px 512px; background-image: url("/img/banners/mac_book_banner.jpg"); opacity: 1; margin-top: 80px !important; }
.title_banner { font-size: 72px; color: white; top: 10%; position: absolute; }
.but { color: white; position: absolute; width: 150px; height: 50px; left: 45%; top: 40%; background: rgb(14, 73, 181); border: 1px solid rgb(0, 0, 0); box-sizing: border-box; box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px; border-radius: 5px; cursor: pointer; }
.search {border: 1px solid rgb(221, 218, 218);width: 100%;background: rgb(255, 255, 255);box-sizing: border-box;box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px;display: flex;border-radius: 5px;}
.input {width: 100%;padding: 18px 0 18px 40px;background: rgb(255, 255, 255);border: 0px;box-sizing: border-box;border-radius: 5px;font-size: 18px;font-family: 'Roboto';}
.input :active, :hover, :focus { outline: 0px; outline-offset: 0px; }
.icon {width: 20px;height: 20px;border: none;background: url("/img/search.svg") 0% 0% no-repeat;transform: translate(130%, 86%);}
.content {padding: 13px 0px;}
.product {width: 300px;background: rgb(255, 255, 255);border: 1px solid rgb(224, 224, 224);box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 25px;border-radius: 12px;display: block;margin: 18px 0 40px 42px;}
.product:hover {
    transform: scale(1.02);
    z-index: 1;
    transition: transform .1s;
    cursor: pointer;
}
.filterBox {min-width: 322px;/* border: 1px solid #DDDADA; */box-sizing: border-box;box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);border-radius: 5px;margin: 19px 18px 0px 0;border-radius: 3px;}
.product_list { max-width: 1024px; }
.cards { display: flex; flex-wrap: wrap; }
.photo { width: 200px; height: 200px; padding: 10px; top: 150%; left: 50%; transform: translate(25%, 0%); max-width: 100%; vertical-align: middle; }
.name { font-family: Roboto; font-style: normal; font-weight: bold; font-size: 24px; line-height: 28px; color: rgb(0, 0, 0); }
.infoProd { text-align: center; }
.sort { border: 0px; cursor: pointer; background-color: rgb(255, 255, 255); border-radius: 5px; }
.filter { cursor: pointer; border: 0px; background-color: rgb(255, 255, 255); }




.priceFilt {
    font-size: 18px;
    color:black;
    border: 1px solid #DDDDDD;
    padding: 18px 20px 10px 32px;
    cursor:pointer;
    background: #EDF3FF;
    margin: -1px;
}

.arrowFilt {

float: right;

cursor:pointer;

transform: rotate(90deg);

width: 18px;
}
.infoCard {
    text-align: center;
}
.inform {
    margin: 10px 0 10px 0;
    font-size: 14px;
    line-height: 16px;
}
.buttonCard {
    color: white;
    width: 150px;
    height: 50px;
    background: rgb(14, 73, 181);
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
    border-radius: 5px;
    cursor: pointer;
}
.reviewsInfo {
    background: #DAE2EA;
    border-radius: 0px 0px 10px 10px;
    padding: 20px 15px;
    font-size: 14px;
    margin-top: 20px;
    color: #3B3E66;
}
.orders {
    float: right;
}
.buttonLike {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin: 10px;
    background-color: #fff;
    padding: 0;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    position: inherit;
}
.listForm {
    padding: 20px;
    display: flex;
    align-items: center;
    display: none;
    border-bottom: 1px solid #DDDDDD;
}
.price-cur {
    
display: grid;
}
.listPrice {
    padding: 5px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    /* justify-content: flex-end; */
}
.priceInp {
    height: 40px;
    float: right;
    width: 50%;
    border: 1px solid #E2E2E2;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    /* justify-content: flex-end; */
    /* display: flex; */
    margin: 0 0 0 123px;
}

.filtMemory {
    
    display: flex;
}
.checkbox-filter__link {
    width: 50%;
}
.block {
    display: block;
}
.input-box {
    width: 49%;
    display: inline-block;
}

.modal {
    display: flex;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
}
  
.modal-content {
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin: auto;
    width: 950px;
    display: flex;
    justify-content: center;
    color: #3B3E66;
}
.modal-title {
    color: #3B3E66;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
.modal-left {
    border-right: 1px solid #E2E2E2;
    padding: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.modal-img {
    width: 250px;
    height: 250px;
    justify-content: center;
}
.modal-right {
    padding: 120px 65px 30px;
    text-align: center;
}
.modal-center {
    border-right: 1px solid #E2E2E2;
    padding: 30px;
    width: 40%;
}
.modal-info {
    padding: 30px 0 0 0;
    font-size: 14px;
}